.container {
    --ion-background-color: #F7F7FF;
}
.weatherContainer {
}
.weather {
    // height: 200px;
    // flex: 1;
    align-items: 'center';
    background-color: #D0E1F0;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 20px;
    padding-bottom: 15px;
}
.weatherIcon {
    width: 75px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tempText {
    padding-left: 15px;
    padding-top: 10px;
    margin: 0;
    font-size: 55px;
    color: #343434;
    text-align: center;
}
.weatherText {
    font-size: 20px;
    color: #343434;
    margin: 0;
    text-align: center;
}
.weatherMinMax {
    flex-direction: 'row';
    margin-top: 20px;
    height: 34px;
}
.min {
    font-size: 30px;
    color: #343434;
    margin-left: 25px;
    display: block;
    float: left;
}
.max {
    font-size: 30px;
    color: #343434;
    margin-right: 25px;
    display: block;
    float: right;
}
.rowContainer {
    height: 200px;
    margin-top: 20px;
}
.cardsContainer {
    // flex: 1;
    height: 190px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    // margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.cardHour {
    display: inline-block;
    width: 120px;
    // height: 230px;
    padding: 20px;
    margin-right: 10px;
    border-radius: 15px;
    background-color: #D0E1F0
}
.containerCard {
    width: 100%;
    height: 100%;
    display: block;
}
.cardTemp {
    padding-left: 5px;
    font-size: 25px;
    margin: 0;
    text-align: center;
    color: #343434;
}
.cardIcon {
    margin-top: 25px;
    height: 35px;
    width: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cardTime {
    padding-top: 15px;
    font-size: 20px;
    margin: 0;
    text-align: center;
    color: #343434;
}
.navigation {
    // flexDirection: 'row';
    // justifyContent: 'space-between';
    padding: 30px; 
}
.btnLeft {
    width: 110px;
    height: 50px;
    // paddingVertical: 12;
    // paddingHorizontal: 32;
    border-radius: 30px;
    background-color: #5F5980;
    color: white;
    display: block;
    float: left;
}
.btnRight {
    width: 110px;
    height: 50px;
    // paddingVertical: 12;
    // paddingHorizontal: 32;
    border-radius: 30px;
    background-color: #5F5980;
    color: white;
    display: block;
    float: right;
}